<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Trixo CMS</display-name>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<!-- Alterado para server porque o upload do primefaces não funciona em 
			client state saving method -->
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.application.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
		<!-- <param-value>/WEB-INF/faces/faces-config-painelUsuario.xml, /WEB-INF/faces/faces-config-painelSite.xml, 
			/WEB-INF/faces/faces-config-painelPublicacao.xml, /WEB-INF/faces/faces-config-painelPagina.xml, 
			/WEB-INF/faces/faces-config-formularioCategoria.xml, /WEB-INF/faces/faces-config-formularioPagina.xml, 
			/WEB-INF/faces/faces-config-formularioSite.xml, /WEB-INF/faces/faces-config-formularioTemplate.xml, 
			/WEB-INF/faces/faces-config-formularioTextoCurto.xml</param-value> -->
	</context-param>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>br.com.trixo.cms.filter.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>